
        form{
            border:1px solid black;
            width:1200px;
            height: 600px;
            background-image: url('./images/download.jpeg');
            background-size: 100% 100%;
        }
        .image{
            width:1150px;
            height:600px;
            
        }
        .text1{
            text-align: center;
            color: white;
        }
        .text2{
            text-align: center;
            color:rgb(163, 163, 9);
        }
        .box1{
            border:1px solid none;
            width:450px;
            height:350px;
            margin-left: 140px;
            float: left;
        }
        .box2{
            border:1px solid none;
            width:450px;
            height:350px;
            margin-left: 10px;
            float: left;
        }
        button{
            margin-top:60px;
            background-color: skyblue;
        }
        .box3{
            width:180px;
            margin-left: 10px;
        }
        .box4{
            width:360px;
            height:90px;
            margin-left: 10px;
        }
        input{
            margin-left: 10px;
        }
        .box5{
            width:360px;
            height:50px;
        }
        .box6{
            margin-left: 9px;
        }
        .box7{
            width:360px;
            height:30px;
            margin-left: 700px;
        }
    