
        .box{
            border:1px solid none;
            width:1200px;
            height:1100px;
        }
        .box1{
            border:1px solid grey;
            width:300px;
            height:1100px;
            background-color: grey;
            color:white;
            font-size: 10px;
            float: left;
            
        }
        .box11{
            border:1px solid none white;
            border-radius: 32px;
            height:60px;
            width:60px;
            margin-left:70px;
            margin-top: 20px;
        }
        .text11{
            font-size: 8px;
        }
        .text12{
            padding-left: 15px;
        }
        .box12{
            border:1px solid rgb(49, 49, 49);
            width: 300px;
            height: 20px;
            background-color:rgb(49, 49, 49) ;
            margin-top: 30px;
            padding-top:3px;
        }
        .box13{
            border:1px solid white;
            width:300px;
            margin-top: 20px;
        }
        .text13{
            padding-top:15px;
        }
        .text14{
            padding-left:5px;
        }
        .box2{
            border:1px solid none;
            width:895px;
            height:1100px;
            float: left;
        }
        .box21{
            border:1px solid none;
            width:820px;
            height: 200px;
            background-image: url('./images/pexels-pixabay-36478.JPG');
            background-size: 100% 100%;
            color:white;
            padding-left: 20px;
            padding-top: 70px;
        }
        .text21{
            font-size: 20px;
        }
        .box22{
            border:1px solid none;
            width:873 px;
            height:220px;
            margin-top: 5px;
            font-size: 10px;
        }
        .box23{
            border:1px solid none;
            width:760px;
            height: 180px;
            background-image: url('./images/office.jpg');
            background-size: 100% 100%;
            margin-left: 20px;
            margin-top:5px; 
        }
        .box24{
            border:1px solid none;
            width:883px;
            height:300px;
            margin-top: 5px;
            font-size: 10px;
        }
        table,td,tr{
            border:1px solid white;
            width:750px;
            height:100px;
            margin-left: 30px;
        }
        .image{
            width:245px;
            height:100px;
        }
        .box25{
            border:1px solid none;
            width:883px;
            height:250px;
            margin-top:5px;
        }
        form{
            color: grey;
            margin-left: 15px;
            margin-top: 2px;
            font-size: 10px;
        }
        input{
            font-size: 10px;
            margin-left: 15px;
        }
        button{
            background-color: grey;
            color: white;
            font-size: 10px;
            margin-left: 15px;
        }
        .text22{
            height:60px;
            width:400px;
        }
        .text23{
            border:0.5px solid black;
            width:850px;
            margin-top: 15px;
        }
        .text24{
            padding-left: 300px;
        }
    